huggingface_venv
**/*.wav
**/build
owlvit_onnx
huggingface-inference-provider-cpp-client/*.png
huggingface-inference-provider-cpp-client/*.jpg
huggingface-inference-provider-cpp-client/*.jpeg
owl2_onnx
